#navbar {
    background-color:none;
    color: saddlebrown;
    display: flex;
    justify-content:end;
    align-items: end;
	border-radius: 15px;
    padding: 1px 16px;
    font-size: 16px;
    font-weight: bold;
}

#navbar a {
    color: chocolate;
    text-shadow: 0.05rem 0.05rem 0.05rem saddlebrown;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: end;
}

#navbar ul li a {
    padding: 5px;
    margin: 0 4px;
}

#navbar ul li a:hover {
    background-color:rgb(235, 165, 95);
    border-radius: 5px;
}
h1 {
	color:chocolate;
	font-size: 5rem;
	font-weight: 800;
	text-align: center;
	text-shadow: 0.1rem 0.1rem 0.1rem saddlebrown;
    padding: 1rem 0 0;
}
h2 {
	color:sienna;
	text-align: center;
}
h3 {
	color:saddlebrown;
	text-align: center;
}
body {
    background-color: rgb(255, 200, 140);
}

header {
    text-align: end;
}

.container {
    background-color:antiquewhite;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35)
                     0px 5px 15px;
    margin: 25px auto 100px;
    padding: 7px 30px;
}
img {
	width: normal;
	border-radius: 15px 45px;
	box-shadow: 1.5px 1.5px 1.5px rgb(255, 200, 140);
}
p {
	font-family: "Times New Roman", Arial, Helvetica;
}

.big {
    font-size: 1.5rem;
    display: block;
}

@media(max-height: 500px) {
    #landscape {
        display: block;
    }
}

@media(max-width:500px) {
    #smartphone {
        display: none;
    }
}

@media(min-width: 501px) and (max-width:768px) {
    #tablet {
        display: block;
    }
}

@media(min-width: 769px) and (max-width:1200px) {
    #normal {
        display: block;
    }
}

@media(min-width: 1201px) {
    #widescreen {
        display: block;
    }
}